/* Mobile First */
@media (max-width: 600px) {
    .calendar {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 900px) {
    .calendar {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Desktop */
@media (min-width: 901px) {
    .calendar {
        grid-template-columns: repeat(7, 1fr);
    }
}

/* Navigointipalkin tyylit */
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: var(#496E4B);
    border-bottom: 2px solid var(#FFFC99);
    text-decoration: none;
}

nav ul li {
    display: inline;
    padding: 10px;
    text-decoration: none;
}

.calendar {
    display: grid;
    grid-template-columns: 100px repeat(7, 1fr);
    gap: 10px;
    background-color: #A7DDAC;
    color: #133667;
    margin: 0 auto;
    float: center;
    border: 5px solid #FFFC99;
    font-style:'Sofadi One', system-ui;
}

.biit .tapahtumat {
    background-color: #0099FF;
    color: white;
}

.rink .vapaat_ajat {
    background-color: #90EE90 ;
    color: black ;
}

.biit .vapaat_ajat {
    display: none;
}

.rink .tapahtumat {
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

.weekday {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 3px solid #ffffffaf;
    font-weight: bold;
}

.day {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #D3F6DB;
    color: #133667; 
    font-style:'Sofadi One', system-ui;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

/* Timeslot-tyylit */
.timeslots {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.timeslots .slot {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #ffffffaf;
    color: #000;
}

.slot {
    background-color: #ffffffaf;
}

.tapahtumat {
    background-color: #17C3B2;
    margin-top: 5px;
    padding: 5px;
}
.holidays .pyha {
    background-color: #FF817E;
    margin-top: 5px;
    padding: 5px;
}
.vapaat_ajat {
    background-color: #90EE90;
    margin-top: 5px;
    padding: 5px;
}

.buttons {
    margin-bottom: 20px;
}

.buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #0099FF;
    font-family: 'Sofadi One', system-ui;
}

.navigation {
    margin-bottom: 20px;
}
.navigation button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #133667;
    color: #FFFC99;
    font-family: 'Sofadi One', system-ui;
}
footer {
    text-align: center;
}

.ikonit {
    max-width: 100px;
    height: 100px;
    margin: 50px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.footer-icons a {
    margin: 0 10px;
    color: var(#FFFC99);
    font-size: 24px;
    text-decoration: none;
}