:root {
    --primary-color: #496E4B; 
    --secondary-color: #FFFC99;
    --accent-color: #FFFC99;
    --background-color: #496E4B;
    --highlight-color: #DD992C;
    --nav-background-color-start: rgb(134, 195, 255);
    --nav-background-color-end: #2a2ca0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Unlock', serif;
    font-size: 45px;
    text-align: center;
}

.info {
    background-color: #A7DDAC;
    color: #496E4B;
    padding: 10px;
    text-align: center;
    border: 3px solid #FFFC99;
    border-radius: 30px;
}

.lomake {
    background-color: #A7DDAC;
    color: #2a2ca0;
    padding: 10px;
    text-align: center;
    border: 3px solid #FFFC99;
    border-radius: 30px;}

.toniannika {
    border: 3px solid #133667;
    border-radius: 30px;
    background-color: #A7DDAC;
}

nav {
    font-family: "MedievalSharp", cursive;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
}

nav a:hover {
    color: #133667;
    text-decoration: none;
}

/* Aktiivisen sivun korostus */
nav .active a {
    background-color: #A7DDAC;
    color: #133667;
    text-decoration: none;
}

nav a:active {
    background-color: #A7DDAC;
    text-decoration: none;
}

a {
    color: #FFFC99;
    text-decoration: none;
}

body {
    margin: 10;
    padding: 10;
    background-color: var(--background-color);
    color: var(--accent-color);
    font-family: 'Sofadi One', system-ui;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, var(--nav-background-color-start), var(--nav-background-color-end));
    border-bottom: 2px solid var(--primary-color);
    text-decoration: none;
    filter: drop-shadow(15px 15px 15px rgba(2, 2, 2, 0.2)); /* Varjostus */
    border-radius: 10px;
}

nav ul li {
    display: inline;
    padding: 10px;
    text-decoration: none;
}

.nappi {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Sofadi One', system-ui;
}

.calendar {
    float: center;
    border: 5px solid #FFFC99;
}

.day {
    background-color: #A7DDAC;
    color: #133667;
}

footer {
    text-align: center;
    background: linear-gradient(to top right,#081a18,#3d9754);
    height: 100px;
    border-radius: 10px;
}

.ikonit {
    max-width: 100px;
    height: 100px;
    margin: 50px;
    border-radius: 50px;
    transition: transform 0.3s, box-shadow 0.3s;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.footer-icons {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    filter: drop-shadow(30px 30px 30px rgba(5, 5, 5, 0.2)); /* Varjostus */
    
}

.footer-icons a {
    margin: 0 10px;
    color: var(--highlight-color);
    font-size: 24px;
    text-decoration: none;
}

.theater-background {
    background-image: url('/msorbiit2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    border-radius: 10px;
    filter: drop-shadow(20px 20px 20px rgba(124, 1, 247, 0.2)); /* Varjostus */
}